.thesis {
    max-width: 700px;
    /* height: 151px; */
    margin: auto;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    padding-top: 60px;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
    border-radius: 5px;
}

.thesis .header {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.thesis .list-container {
    border-top: 1px solid #eee;
}

.thesis .item {
    border-bottom: 1px solid #eee;
}

.thesis .item .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.thesis .dot {
    display: flex;
    align-items: center;
    position: absolute;
    left: 550px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.thesis .overlap {
    height: 38px;
    /* margin-left: 50px; */
    position: absolute;
    width: 57px;
    left: 600px;
}

.thesis .rectangle {
    background-color: #696969; /* Default color */
    border-radius: 7px;
    height: 37px;
    left: 0;
    position: absolute;
    top: 1px;
    width: 57px;
}

.thesis .item .label {
    position: absolute;
    left: 10px;
    font-weight: bold;
    color: #555;
}

.thesis .item .text {
    flex: 1;
    margin: 0 10px;
}

.thesis .arrow {
    position: absolute;
    right: 300px;
    border: solid #555;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 5px;
    transform: rotate(45deg);
    transition: transform 0.2s;
}

.thesis .arrow.up {
    transform: rotate(-135deg);
}

.thesis .item.expanded .details {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.thesis .item .details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.thesis .item .details li {
    padding: 5px 0;
    border-top: 1px solid #eee;
}

.thesis .item .details li:first-child {
    border-top: none;
}